@import "../../../../ReactiveMixins";
@import "../../../../index";

.measurements {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  column-gap: 10px;
}

@include small {
  @media (pointer: coarse),
  (hover: none) {
    [title] {
      position: relative;
      display: inline-flex;
      justify-content: center;
    }

    [title]:focus::after {
      content: attr(title);
      position: absolute;
      top: 90%;
      color: #000;
      width: fit-content;
      padding: 3px;
      font-weight: normal;
      font-size: 16px;
    }
  }
}

.measurement_row {
  flex: 1;
  display: flex;
  justify-content: center;
}

.meas {
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  justify-content: center;
  column-gap: 2px;
}

.flow {
  font-size: 120%;
}

.temp {
  font-size: 90%;
}

.unit {
  font-size: 70%;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* colors for flow */
.flow_bad {
  color: #e2576f;
}

.flow_good {
  color: #409073;
}

.flow_could_become_good {
  color: #f8ad4c;
}

// for future use
.flow_danger {
  color: #e2576f;
}
