@import "../../../../index";

.measurements {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 7px;
}

.timestamp {
  color: gray;
}

.measurement_row {
  flex: 1;
}

.meas {
  padding: 0 20px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-content: center;
  font-size: 120%;
  align-items: center;
  column-gap: 2px;
}

.flow {
  color: $msw-blue-secondary;
}

.temp {
  color: $msw-blue;
}

.unit {
  font-size: 70%;
  display: inline;
}

