@import "../../../ReactiveMixins";
@import "../../../index";

.details-title {
  color: $msw-blue;
}

.spot {
  display: flex;
  padding: 20px 10px;
  margin: 20px 10px;
  color: #000000;
  background-color: #ececec;
  border-radius: 20px;
}

.right-side-icons-container {
  margin: 0 10px;
  flex: 0.06;
  display: flex;
  flex-direction: column;
}

.is-private-icon {
  margin: 0 10px;
  flex: 1;
}

.is-private-icon > img {
  width: 100%;
}

.public {
  display: none;
}

details > summary span.collapsibleIcon {
  transition: all 1s;
  align-self: center;
}

details[open] summary span.collapsibleIcon {
  transform: rotate(180deg);
}

.collapsibleIcon {
  flex: 0.03;
  align-content: center;
}

.collapsibleIcon > img {
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.collapsibleContent {
  margin-top: 20px;
  margin-left: -30px;
}

.spotname {
  display: flex;
}

.spotname a {
  flex: 1;
  text-overflow: ellipsis;
  color: #000000;
  text-decoration: none;
}

.spotname a:hover {
  text-decoration: underline;
}

details.spot[open] summary.spotname {
  .forecastContainer {
    display: none;
  }

  .measurements {
    flex-direction: row;
  }
}

.spotContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 130%;
  font-weight: bold;

  @include small() {
    flex-direction: column;
    row-gap: 20px;
  }
}

.delete-spot-btn {
  margin: 20px auto auto;
}

@include small() {
  .hiddenOnMobile {
    display: none;
  }
}