@import "../../../ReactiveMixins";
@import "../../../index";

// Base spot styles
.spot {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #000000;
  background-color: #ececec;
  border-radius: 20px;

  // Responsive variants
  &.spot-desktop {
    @include small {
      display: none;
    }
  }

  &.spot-mobile {
    display: none;
    flex-direction: column;

    @include small() {
      display: flex;
    }

    .forecastContainer {
      display: none;
    }
  }
}

// Summary section
.spotname {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  // Hide default marker
  &::-webkit-details-marker {
    display: none;
  }

  // Icons containers
  .icons-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 40px;
    flex-shrink: 0;

    .icon {
      flex: 1;
      align-content: center;
      margin: 2.5px 0;

      img {
        width: 60%;
      }

      &.arrow-icon img {
        width: 40%;
      }

      &.collapsible-icon {
        img {
          cursor: pointer;
        }
      }
    }
  }

  // Main content container
  .spotContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
    font-weight: bold;
    margin: 20px 0;

    @include small() {
      flex-direction: column;
      row-gap: 10px;
    }

    .spot-title {
      flex: 1;
      word-break: break-word;

      a {
        flex: 1;
        text-overflow: ellipsis;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 85%;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Collapsible content
.collapsibleContent {
  display: flex;
  margin: 20px 10px;

  .last40days-container {
    width: 100%;
  }
}

// Open state behaviors
details.spot[open] {
  summary.spotname {
    .forecastContainer {
      display: none;
    }

    .measurements {
      flex-direction: row;
    }

    div.collapsible-icon {
      transform: rotate(180deg);
    }
  }
}

// Animation
details > summary div.collapsible-icon {
  transition: all 1s;
  align-self: center;
  width: 100%;
}
