@import "../../../ReactiveMixins";

$icons-container-width: 40px;
$spot-margin-l-r: 10px;

.spot {
  display: flex;
  padding: 0;
  margin: 20px $spot-margin-l-r;
  color: #000000;
  background-color: #ececec;
  border-radius: 20px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  width: $icons-container-width;
}

.icon {
  flex: 1;
  align-content: center;

  img {
    width: 40%;
  }
}

.public {
  display: none;
}

details > summary div.collapsible-icon {
  transition: all 1s;
  align-self: center;
}

details[open] summary div.collapsible-icon {
  transform: rotate(180deg);
}

.collapsible-icon {
  img {
    cursor: pointer;
  }

  @include small {
    display: none
  }
}

summary::-webkit-details-marker {
  display: none;
}

.collapsibleContent {
  margin-top: 20px;
  margin-left: -30px;

  @include small {
    display: none;
  }
}

.spotname {
  display: flex;
}

.spotname a {
  flex: 1;
  text-decoration: none;
  color: #000000;
  text-overflow: ellipsis;
}

.spotContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 130%;
  font-weight: bold;
  margin: 20px 0 20px $icons-container-width;

  @include small() {
    flex-direction: column;
    row-gap: 20px;
  }
}
