@import "../ReactiveMixins";

.form {
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    align-items: center;
    // height: 100vh;
    flex: 1 1;
    flex-direction: column;
}

.box-container {
    width: 550px;
    margin: auto;

    @include small {
        width: 80%;
    }
}

.box {
    width: 100%;
    // border: 1px solid #dfdfdf;
    background-color: #fff;
}

.google-button-container > div {
    margin: auto;
}