// TODO: this breaks the style of the whole app
// body {
//  background-color: #eaeaea;
//  display: flex;
//  justify-content: center;
//  align-content: center;
//  width: 100%;
//  align-items: center;
//  height: 100vh;
//}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.google-button-container > div {
  margin: auto;
}