$msw-blue: #3bbae8;
$msw-blue-secondary: #2473db;

/* bootstrap customizations */
$primary: $msw-blue;
$secondary: $msw-blue-secondary;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

/* custom styles */
.btn-primary {

  // white font in primary-colored buttons
  color: white;

  // recreate color change of outline buttons for primary
  &:hover {
    color: $msw-blue;
    border-color: $msw-blue;
    background-color: white;
  }
}

.btn-outline-primary {

  // white font in outline primary-colored buttons on hover
  &:hover {
    color: white;
  }
}

body {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

a {
  color: $msw-blue;
}