$msw-blue: #3bbae8;
$msw-blue-secondary: #2473db;

.msw-button {
  background: white;
  color: $msw-blue;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 15px !important;
  border: 1px solid $msw-blue;
  border-radius: 3px;
  text-decoration: none;
  padding: 3px;
  min-width: 60px;
  margin: 10px
}

.msw-button-as-link {
  color: black;
  text-decoration: underline;
}

.msw-button-as-link:hover {
  cursor: pointer;
}