@import "../../ReactiveMixins";

.tableHeader {
  flex: 1;
  display: flex;
}

.tableHeaderCol {
  flex: 1;
}

.tableHeaderContainer {
  padding: 0 10px;
  margin: 0 10px;
  display: flex;
}

.spotsContainer {
  width: 600px;
  margin: auto;
}

.doubleCol {
  flex: 2;
}

.spotsContainer>h2 {
  font-weight: bold;
}

.hide {
  visibility: hidden;
}

.collapsibleIcon {
  margin: 0 10px;
  flex: 0.03;
}

.collapsibleIcon>img {
  width: 100%;
  cursor: pointer;
}

.item.dragging {
  opacity: 0.6;
}

@include small {
  .tableHeaderContainer {
    display: none;
  }

  .spotsContainer {
    width: auto;
  }
}