@import "../../ReactiveMixins";

.tableHeader {
  flex: 1;
  display: flex;
}

.tableHeaderCol {
  flex: 1;
}

.tableHeaderContainer {
  padding: 0 10px;
  margin: 0 10px;
  display: flex;
}

.spotsContainer {
  flex: 1;
  width: 700px;
  margin: 0 auto auto auto;
}

.doubleCol {
  flex: 2;
}

.spotsContainer > h2 {
  text-decoration: underline;
}

.hide {
  visibility: hidden;
}

.collapsibleIcon {
  margin: 0 10px;
  flex: 0.03;
}

.collapsibleIcon > img {
  width: 100%;
  cursor: pointer;
}

.item.dragging {
  opacity: 0.6;
}

@include small {
  .tableHeaderContainer {
    display: none;
  }

  .spotsContainer {
    width: 100%;
    padding: 5px;
  }
}