@import "../../ReactiveMixins";
@import "./spot/Spot";

.spotsContainer {
  flex: 1;
  width: 700px;
  margin: 0 auto auto auto;
}

.hide {
  visibility: hidden;
}

.collapsibleIcon {
  margin: 0 10px;
  flex: 0.03;
}

.collapsibleIcon > img {
  width: 100%;
  cursor: pointer;
}

.item.dragging {
  opacity: 0.6;
}

@include small {

  .spotsContainer {
    width: 100%;
    padding: 5px;
  }
}